@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2)
      format("woff2"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff)
      format("woff"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf)
      format("truetype"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix)
      format("embedded-opentype"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2)
      format("woff2"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff)
      format("woff"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf)
      format("truetype"),
    url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf)
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

$Proxima-Nova: "ProximaNova", sans-serif;
$bp1: 775px;
$bp2: 440px;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-----COMMON-----*/
body {
  font-family: "PT Sans", sans-serif;
  max-width: 100vw;
  background-color: #ebebeb;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.inner-container {
  max-width: 1170px;
  margin: 0 auto;
}
/*-----SLICK SLIDER----*/

.slick-dots li button:before {
  content: url(images/ring.svg) !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
}
/*------HEADER-----*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $Proxima-Nova;
  padding-top: 135px;
  @media screen and (max-width: $bp1) {
    padding: 0 10px;
  }
  &-container {
    width: 100%;
    background: url(images/header_bg.png) no-repeat;
    background-size: cover;
  }

  &-nav {
    &-container {
      width: 100%;
      position: fixed;
      top: 0;

      z-index: 1000;
      &.scrolled {
        background-color: #9f9acf93;
      }
    }
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    &-list {
      display: flex;
      justify-content: space-between;
      position: relative;
      #menu-close {
        display: none;
      }
      @media screen and (max-width: $bp1) {
        display: none;
        &.opened {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.9);
          scroll-behavior: unset;

          #menu-close {
            display: block;
            width: 36px;
            height: 36px;
            padding: 5px;
            position: absolute;
            top: 15px;
            right: 15px;
          }
        }
      }

      &__item {
        margin: 0 14px;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        a {
          color: white;
          letter-spacing: 1px;
        }
        &:hover a {
          color: #8783b0;
          transition: 0.2s ease-in;
        }
      }
    }
    &__burger {
      @media screen and (min-width: $bp1) {
        display: none;
      }
    }
  }

  &__title {
    margin-top: 270px;
    font-size: 72px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    @media screen and (max-width: $bp2) {
      margin-top: 100px;
      font-size: 56px;
    }
  }
  &__subtitle {
    margin: 20px 0 500px 0;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    @media screen and (max-width: $bp2) {
      margin: 50px 0 200px 0;
      padding: 0 15px;
    }
  }
}

/*-----ABOUT US----*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 125px 0;
  @media screen and (max-width: $bp1) {
    flex-direction: column;
    justify-content: flex-start;
    background: url(images/about_bg.png) no-repeat center;
    background-size: cover;
    padding: 30px 10px;
  }
  &-container {
    width: 100%;
  }

  &-title {
    flex: 0 0 320px;
    padding: 70px 0 350px 0;
    background: url(images/about_bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $Proxima-Nova;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    img {
      margin-bottom: 40px;
      @media screen and (max-width: $bp1) {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: $bp1) {
      flex: 0;
      width: 100%;
      padding: 0;
      background: none;
    }
  }
  &-description {
    flex: 0 1 635px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    @media screen and (max-width: $bp1) {
      flex: 0;
      margin: 30px 0;
    }
    &__text {
      font-size: 20px;
      color: #665f60;
      font-weight: 400;
      @media screen and (max-width: $bp1) {
        color: #272727;
      }
      b {
        font-weight: 700;
      }
      i {
        font-style: italic;
      }
    }
    &__button {
      width: 200px;
      height: 50px;
      margin-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #7d7a7c;
      font-weight: 400;
      font-size: 20px;
      font-style: italic;
      color: #7d7a7c;
      @media screen and (max-width: $bp1) {
        color: #272727;
        border: 1px solid #272727;
      }
      &:hover {
        background-color: #7d7a7c;
        color: white;
        transition: all 0.3s ease-in;
      }
    }
  }
}

/*-----SERVICES-----*/
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "cell1 cell2 cell5"
    "cell3 cell4 cell5";
  @media screen and (max-width: $bp1) {
    grid-template-areas:
      "cell5 cell5"
      "cell1 cell2"
      "cell3 cell4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @media screen and (max-width: $bp2) {
    grid-template-areas:
      "cell5"
      "cell1"
      "cell2"
      "cell4"
      "cell3";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  }
  .сell-1 {
    grid-area: cell1;
    background-color: #dbdbdb;
  }
  .cell-2 {
    grid-area: cell2;
  }
  .cell-3 {
    grid-area: cell3;
  }
  .cell-4 {
    grid-area: cell4;
    background-color: #dbdbdb;
  }
  .cell-5 {
    grid-area: cell5;
    background: url(images/services_bg.png) no-repeat center;
    background-size: cover;
  }

  &-container {
    width: 100%;
  }
  &-box {
    padding: 95px 0 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      margin: 25px 0;
      font-size: 24px;
      font-weight: 700;
      color: #665f60;
      text-transform: uppercase;
      text-align: center;
    }
    &__subtitle {
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      color: #665f60;
      text-align: center;
    }

    &--big {
      padding: 110px 10px 0 10px;
      @media screen and (max-width: $bp1) {
        justify-content: center;
        padding: 0;
      }
      .services-box__title {
        color: white;
        margin: 25px 0 100px 0;
        font-family: $Proxima-Nova;
        font-size: 36px;
        font-weight: 600;
        @media screen and (max-width: $bp1) {
          margin: 20px 0 20px 0;
        }
      }
      .services-box__subtitle {
        color: white;
        @media screen and (max-width: $bp2) {
          // padding: 0 5px;
          font-size: 14px;
        }
      }
    }
  }
}

/*------WORKS----*/
.works {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    width: 100%;
    background: url(images/works_bg.png) no-repeat center;
    background-size: cover;
  }

  &__icon {
    margin-top: 50px;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: $Proxima-Nova;
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
  }
  &-slider {
    width: 62%;
    @media screen and (max-width: $bp1) {
      width: 90%;
    }
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      @media screen and (max-width: $bp1) {
        justify-content: center;
      }
      img {
        width: 100%;
        height: 100%;
      }
      #works-prev,
      #works-next {
        cursor: pointer;
        @media screen and (max-width: $bp1) {
          display: none;
        }
        &:hover {
          transform: scale(1.1);
          transition: transform 0.1s ease-in;
        }
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 40px 0 60px 0;
    border: 1px solid white;
    font-size: 20px;
    font-style: italic;
    color: white;
    &:hover {
      background-color: white;
      color: #9f9acf;
      transition: all 0.3s ease-in;
    }
  }
}

/*-----TEAM-----*/
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-container {
    width: 100%;
  }
  &__icon {
    margin-top: 50px;
  }
  &__title {
    margin: 30px 0 60px 0;
    font-family: $Proxima-Nova;
    font-size: 36px;
    font-weight: 600;
    color: #665f60;
    text-transform: uppercase;
  }
  &-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end !important;

    &-wrapper {
      height: 470px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 100px;
      position: relative;
      #team-prev,
      #team-next {
        position: absolute;
        cursor: pointer;
        @media screen and (max-width: 1100px) {
          display: none;
        }
        &:hover {
          transform: scale(1.1);
          transition: transform 0.1s ease-in;
        }
      }
      #team-prev {
        left: -50px;
      }
      #team-next {
        right: -50px;
      }
    }

    &-slide {
      flex: 0 1 355px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end !important;
      align-items: center;
      background-color: white;
      &:hover {
        background-color: #9f9acf;
        .team-slider-slide__links {
          background-color: white;
          transition: all 0.3s ease-in;
        }
        .team-slider-slide__name {
          color: white;
          transition: all 0.3s ease-in;
        }
        transition: all 0.3s ease-in;
      }
      &__photo {
        height: 140px;
        width: 100%;
        background-color: #ebebeb;
        position: relative;
        div {
          position: absolute;
          margin: auto;
          top: 0;
          width: 100%;
          text-align: center;
          img {
            display: inline !important;
          }
        }
      }
      &__info {
        height: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }
      &__name {
        font-family: $Proxima-Nova;
        font-size: 24px;
        font-weight: 700;
        color: #9f9acf;
        text-transform: uppercase;
      }
      &__position {
        margin: 30px 0 50px 0;
        font-size: 24px;
        font-style: italic;
        color: #665f60;
      }
      &__links {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9f9acf;
        a {
          background-color: #9f9acf;
          border-radius: 50%;
          margin: 0 5px;
          &:hover {
            transform: scale(1.1);
            transition: all 0.1s ease-in;
          }
        }
      }
    }
  }
}

/*----SERVICES----*/
#map {
  width: 100%;
  min-height: 950px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #9f9acfa9;

  &-container {
    position: relative;
    overflow: hidden;
  }
  &__icon {
    margin-top: 55px;
  }
  &__title {
    margin: 25px 0 50px 0;
    font-family: $Proxima-Nova;
    font-weight: 600;
    font-size: 36px;
    color: white;
  }
  &-adress,
  &-phone {
    margin: 2px 0;
    align-self: flex-end;
    display: flex;
    height: 95px;
    transform: translate(250px);
    transition: transform 0.5s linear;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 90px;
      background-color: #9f9acf;
    }
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 100%;
      background-color: #d3d0f0dc;
      padding: 15px 40px;
      color: #665f60;
      font-size: 18px;
      text-align: center;
    }
    &:hover {
      transform: translate(0px);
    }
  }

  &-form {
    max-width: 865px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
    padding: 0 10px;
    input,
    textarea {
      width: 47%;
      height: 60px;
      border: none;
      opacity: 0.5;
      border-radius: 4px;
      margin-bottom: 25px;
      padding: 20px 25px;
      font-style: italic;
      font-size: 18px;
      @media screen and (max-width: $bp2) {
        width: 100%;
      }
      &:focus {
        opacity: 0.9;
      }
    }
    textarea {
      width: 100%;
      height: 200px;
    }
  }
  &__button {
    margin-top: 30px;
    border-radius: 4px;
    background-color: rgb(159, 154, 207);
    border: none;
    width: 290px;
    height: 70px;
    border-bottom: 4px solid #8783b0;
    font-family: $Proxima-Nova;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: $bp2) {
      margin: 0 0 30px 0;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.1s ease-in;
    }
  }
  &__button--up {
    position: absolute;
    bottom: 50px;
    right: 130px;
    background-color: rgba(159, 154, 207, 0.502);
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      left: 50px;
    }
    @media screen and (max-width: $bp1) {
      display: none;
    }
    &:hover {
      background-color: rgba(159, 154, 207, 0.95);
      transition: all 0.3s ease-in;
    }
  }
}

/*-----FOOTER-----*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 10px;

  @media screen and (max-width: $bp1) {
    flex-direction: column-reverse;
  }
  &-container {
    width: 100%;
    background-color: #9f9acf;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    color: white;
    b {
      font-weight: 700;
    }
  }
  &__links {
    flex: 0 1 265px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $bp1) {
      flex: 0;
      width: 70%;
      margin-bottom: 20px;
    }
  }
}
